.title{
    width: 100vw;
    height: 100px;
    color: #FCF6BB;
    background-color: #228B22;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    min-width: 600px;
}
#subTitle{
    width: 100vw;
    color: #FCF6BB;
    background-color: #228B22;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
body{
    padding: 0px;
    margin: 0px;
}
#GolfClubLogo{
    width: 100px; 
    padding-left: 20px;
    padding-top: 35px;
}
main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}
#ClubDescription{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}

#Golfer{
    border: 5px solid;
    max-width: 750px;
    min-width: 250px;
    margin-top: 35px;
}
#video{
    border: 5px solid;
    margin-bottom: 35px;
    max-width: 750px;
    min-width: 250px;
}

#priceHeader{
    text-decoration: underline;
}

#hourHeader{
    text-decoration: underline;
}

#Prices{
    text-align: center;
    max-width: 600px;
    margin: auto;
   
   
}
#Prices ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    padding-right: 30px;
}

#Hours{
    text-align: center;
    max-width: 600px;
    margin: auto;
    
}

#Hours ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    padding-right: 30px;
}

#pricesAndHours{
    margin:auto;
}