.title{
    height: 100px;
    color: #FCF6BB;
   
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    min-width: 600px; 
   
}
#subTitle{
    color: #FCF6BB;
  
    margin: 0px;
    padding-bottom: 15px;
}
body{
    padding: 0px;
    margin: 0px;
}
#GolfClubLogo{
    width: 100px; 
    padding-left: 20px;
    padding-top: 35px;
}
main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}
#ClubDescription{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}

#Golfer{
    border: 5px solid;
    max-width: 750px;
    min-width: 250px;
    margin-top: 35px;
}
#video{
    border: 5px solid;
    margin-bottom: 35px;
    max-width: 750px;
    min-width: 250px;
}

#priceHeader{
    text-decoration: underline;
}

#hourHeader{
    text-decoration: underline;
}

#Prices{
    text-align: center;
    max-width: 600px;
    margin: auto;
   
   
}
#Prices ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    padding-right: 30px;
}

#Hours{
    text-align: center;
    max-width: 600px;
    margin: auto;
    
}

#Hours ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    padding-right: 30px;
}

#pricesAndHours{
    margin:auto;
}
#membership{
    position: absolute;
    right: 2vw;
    font-size: 3em;
  
  text-align: right;
  
  display:flex;
  justify-content: space-between;

}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #228B22;
}
#outerDiv{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#innerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}